[submodule "SystemEx"]
	path = SystemEx
	url = git@github.com:yatagarasu25/SystemEx.git
[submodule "UE4Assistant"]
	path = UE4Assistant
	url = git@github.com:yatagarasu25/UE4Assistant.git
[submodule "UE4Assistant.Templates"]
	path = UE4Assistant.Templates
	url = git@github.com:yatagarasu25/UE4Assistant.Templates.git
[submodule "ClipboardEx"]
	path = ClipboardEx
	url = git@github.com:yatagarasu25/ClipboardEx.git
[submodule "ConsoleAppFramework"]
	path = ConsoleAppFramework
	url = git@github.com:yatagarasu25/ConsoleAppFramework.git
[submodule "UE4Assistant.Specifier"]
	path = UE4Assistant.Specifier
	url = git@github.com:yatagarasu25/UE4Assistant.Specifier.git
